body{

    margin: 0 0;
}


.sec1{
    padding-top: 150px;
    background: url('../img/photo_2022-10-08_16-43-52.jpg') center center/cover no-repeat;
  height: 1080px;
    
}
h1{
    text-align: center;
    margin: 0;
    font-size: 50px;
    color: brown;
}
.aboutme{
    font-size: 19px;
    text-align: center;
    color: aquamarine;
}
.myhobbies{
    margin: 0 auto; 
    margin-top: 50px;
    
    width: 800px;
    font-weight: 900;
   
    color: blueviolet;
    font-size: 40px;
    text-align: center;
}
span{
    color: #e4ff00;
    font-weight: 900;
}
.studing{
    margin: 0 auto;
    margin-top: 75px;
    color: chocolate;
    text-align: center;
    font-size: 19px;
    font-weight: 900;
}
@media screen and (max-width: 809px) {
    .myhobbies{
        width: 500px;
    }

    
}
@media screen and (max-width: 503px) {
    .myhobbies{
        width: 400px;
    }

    
}
@media screen and (max-width: 400px) {
    .myhobbies{
        font-size: 29px;
        width: 250px;
    }

    
}
@media screen and (max-width: 271px) {
    h1{
        font-size: 31px;
    }
    .myhobbies{
        font-size: 25px;
        width: 170px;
    }

    
}

